@page
@model BoardGameStats.Pages.BoardGamesModel
@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="search">
    <form method="post" asp-page-handler="Search">
        <h4>Find a board game</h4>
        <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>
    <button class="collapsible btn btn-secondary">Add a New Board Game</button>
    <div class="content">
            <form enctype="multipart/form-data" method="post">
        <label class="control-label">Enter Game Name</label>
        <input asp-for="newBoardGame.Name" class="form-control"/>
        <label class="control-label">Upload Game Image (optional):</label>
        <input asp-for="FileUpload.FormFile" type="file"/>
        <input type="submit" value="Add" class="btn btn-primary"/>
    </form>
    </div>
</div>

@if(Model.allBoardGames.Count() > 0)
{
    <div class="container">
        @for(int i = 0; i < Model.allBoardGames.Count; i += 4)
        {
            <div class="row">
            @for(int j = 0; j < 4; j++)
            {
                if ((j + i) < Model.allBoardGames.Count)
                {
                <div class="col-md-3">
                <div class="card card-bg" onclick="location.href = '/boardgamedetails/' + @Model.allBoardGames[j + i].Id">
                    @if (Model.allBoardGames[j + i].Image != null)
                    {
                        <img src="data:image/jpg;base64,@Html.Raw(Convert.ToBase64String(Model.allBoardGames[j + i].Image))" alt="@Model.allBoardGames[j + i].Name artwork" class="card-img-top"/>
                    }
                    else
                    {
                        @*Display a 'no image' image*@
                        <img src="https://st4.depositphotos.com/17828278/24401/v/600/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg" alt="No image available" class="card-img-top"/>
                    }
                    <div class="card-body">
                    <h5 class="card-title">@Model.allBoardGames[j + i].Name</h5>
                    <p class="card-text">Plays: @Model.allBoardGames[j + i].NumPlays</p>
                    </div>
                </div>
                </div>
                }
            }
            </div>
        }
        </div>
    
}
