@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_Layout.cshtml";
}

<a class="btn btn-primary" asp-page="players/">Players</a>
<a class="btn btn-primary" asp-page="boardgames/">Board Games</a>


