@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-index" onclick="location.href = '/players/'">
                <img src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Click on this image to view Players." class="card-img-top" />    
                <div class="card-body">
                    <h5 class="card-title">Players</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-index" onclick="location.href = '/boardgames/'">
                <img src="https://t4.ftcdn.net/jpg/02/32/54/61/360_F_232546104_KNwtf8IENcwkK0h4HOQlo1wNISPN13aB.jpg" alt="Click on this image to view Board Games." class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Board Games</h5>
                </div>
            </div>

    </div>
</div>


