@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-index" onclick="location.href = '/players/'">
                <img src="https://media.istockphoto.com/id/1278235573/vector/people-playing-board-games-vector-illustration-families-friends-sitting-at-table-on-the.jpg?s=612x612&w=0&k=20&c=FY5xQ4EqsQVpm0s1vrcD7ISf1WPS9cD0YmWULTo3ERM=" alt="Click on this image to view Players." class="card-img-top" />       
                <div class="card-body">
                    <h5 class="card-title">Players</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-index" onclick="location.href = '/boardgames/'">
                <img src="https://media.istockphoto.com/id/1175245800/vector/friends-playing-a-board-game.jpg?s=612x612&w=0&k=20&c=GEdPxM2uhdulq0QRxqhm6Md_gi9IZnWdaTzedTqFFX0=" alt="Click on this image to view Board Games." class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Board Games</h5>
                </div>
            </div>

    </div>
</div>


