@page
@model BoardGameStats.Pages.PlayersModel
@{
    Layout = "Shared/_Layout.cshtml";
}

<h5 class="nav-links"><a asp-page="index/">Home</a> >> Players</h5>

<div class="search">
    <form method="post" asp-page-handler="Search">
        <h4>Find a player</h4>
        <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>
    <button class="collapsible btn btn-secondary">Add a New Player</button>
    <div class="content">
        <form method="post">
            <label class="control-label">Enter Player Name</label>
            <input asp-for="newPlayer.Name" class="form-control"/>
            <input type="submit" value="Add" class="btn btn-primary" />
        </form>
    </div>
</div>

@if(Model.allPlayers.Count() > 0)
{
    <div class="container">
    @foreach(var p in Model.allPlayers)
    {
        <div class="row player">
            <div class="col">
            <h6>@p.Name</h6>
            </div>
            <div class="col">
            <a class="btn btn-primary" asp-page="playerdetails/" asp-route-playerId="@p.Id">Details</a>
            </div>
        </div>
    }
    </div>
}